.main, .homeplayers, .awayplayers{
    text-align: center;
    border: 5px solid black;
}

.dropdown_buttons{
    margin-left: -4%;
}

@media only screen and (max-width : 992px) {
    .dropdown_buttons{
        margin-left: 0%;
    }
    .home1style{
        margin-left: -10%;margin-right: 10%;
    }
}

@media only screen and (max-width : 576px) {
    .main{
        text-align: center;
    }

    .home1style{
        margin-left: 0;margin-right: 0%;
    }
}

