.main{
    margin-top: 5%;
    text-align: end;
}

.dropdown_buttons{
    margin-left: -4%;
}

@media only screen and (max-width : 992px) {
    .dropdown_buttons{
        margin-left: 0%;
    }
}

@media only screen and (max-width : 576px) {
    .main{
        text-align: center;
    }
}